variables:
  NODE_VERSION: "gallium"
  TEST_FRONTEND_URL: "http://test.planetsaving.uk"
  PROD_FRONTEND_URL: "http://planetsaving.uk"
  TEST_BACKEND_URL: "http://api.test.planetsaving.uk"
  PROD_BACKEND_URL: "http://api.planetsaving.uk"
  TEST_CLIMATE_DATA_DYNAMODB_TABLE: "footprint_climate_data_table_test"
  PROD_CLIMATE_DATA_DYNAMODB_TABLE: "footprint_climate_data_table_prod"

stages:
  - build
  - test
  - common_infra_deploy
  - end_to_end_test
  - infrastructure
  - deploy

.build_frontend:
  stage: build
  image:
    name: node:${NODE_VERSION}-alpine
  script:
    - echo "Building frontend"
    - cd frontend
    - npm install
    - npm run build

build_test_frontend:
  extends: .build_frontend
  environment:
    name: production
  artifacts:
    paths:
      - frontend/test_build/

build_prod_frontend:
  extends: .build_frontend
  environment:
    name: production
  artifacts:
    paths:
      - frontend/prod_build/

unittest_frontend:
  needs: []
  image:
    name: node:${NODE_VERSION}-alpine
  variables:
    CI: "true"
  stage: test
  script:
    - cd frontend
    - npm ci
    - npm run test-ci
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  after_script:
    - echo "Test report available here - https://gitlab.com/joe.darling/footprint/-/jobs/$CI_JOB_ID/artifacts/frontend/coverage/lcov-report/index.html"
  artifacts:
    untracked: false
    expire_in: 30 days
    when: always
    paths:
      - frontend/coverage/
    reports:
      junit: frontend/coverage/junit.xml

testing_infrastructure:
  stage: end_to_end_test
  dependencies:
    - "build_test_frontend"
  image:
    name: hashicorp/terraform:light
    entrypoint:
      - "/usr/bin/env"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  environment:
    name: test
  script:
    - echo  ${AWS_ACCESS_KEY_ID}
    - export AWS_ACCESS_KEY=${AWS_ACCESS_KEY_ID}
    - export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    - terraform --version
    - terraform -chdir=infrastructure/test init
    - terraform -chdir=infrastructure/test validate
    - terraform -chdir=infrastructure/test plan -out "planfile"
    - terraform -chdir=infrastructure/test apply -input=false "planfile"

deploy_to_test:
  stage: end_to_end_test
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  environment:
    name: test
  script:
    - aws --version
    - aws s3 sync frontend/test_build s3://$S3_TEST_BUCKET --exclude index.html
    - aws s3 sync frontend/test_build s3://$S3_TEST_BUCKET --exclude "*" --include index.html --metadata-directive REPLACE --cache-control no-cache

e2e_tests:
  stage: end_to_end_test
  needs:
    - "testing_infrastructure"
    - "deploy_to_test"
  variables:
    FRONTEND_URL: ${TEST_FRONTEND_URL}
    TABLE_NAME: ${TEST_CLIMATE_DATA_DYNAMODB_TABLE}
  image:
    name: testcafe/testcafe
    entrypoint: ["/bin/sh", "-c"]
  environment:
    name: test
  script:
    - npm i aws-sdk
    - /opt/testcafe/docker/testcafe-docker.sh firefox:headless,chromium e2e_tests/**/*

deploy_to_production:
  stage: deploy
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  environment:
    name: production
  script:
    - aws --version
    - aws s3 sync frontend/prod_build s3://$S3_BUCKET --exclude index.html
    - aws s3 sync frontend/prod_build s3://$S3_BUCKET --exclude "*" --include index.html --metadata-directive REPLACE --cache-control no-cache

common_infrastructure:
  stage: common_infra_deploy
  image:
    name: hashicorp/terraform:light
    entrypoint:
      - "/usr/bin/env"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  script:
    - echo  ${AWS_ACCESS_KEY_ID}
    - export AWS_ACCESS_KEY=${AWS_ACCESS_KEY_ID}
    - export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    - terraform --version
    - terraform -chdir=infrastructure/common init
    - terraform -chdir=infrastructure/common validate
    - terraform -chdir=infrastructure/common plan -out "planfile"
    - terraform -chdir=infrastructure/common apply -input=false "planfile"

infrastucture:
  stage: infrastructure
  dependencies:
    - "build_prod_frontend"
  image:
    name: hashicorp/terraform:light
    entrypoint:
      - "/usr/bin/env"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  environment:
    name: production
  script:
    - echo  ${AWS_ACCESS_KEY_ID}
    - export AWS_ACCESS_KEY=${AWS_ACCESS_KEY_ID}
    - export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    - terraform --version
    - terraform -chdir=infrastructure/production init
    - terraform -chdir=infrastructure/production validate
    - terraform -chdir=infrastructure/production plan -out "planfile"
    - terraform -chdir=infrastructure/production apply -input=false "planfile"
