variables:
  NODE_VERSION: "gallium"

stages:
  - build
  - test
  - deploy

build:
  stage: build
  image: node:${NODE_VERSION}-alpine
  script:
    - echo "Building"
    - npm install
    - npm run build
  artifacts:
    paths:
      - build/

test:
  needs: []
  image: node:${NODE_VERSION}-alpine
  variables:
    CI: "true"
  stage: test
  script:
    - npm ci
    - npm run test-ci
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  after_script:
    - echo "Test report available here - https://gitlab.com/joe.darling/footprint/-/jobs/$CI_JOB_ID/artifacts/frontend/coverage/lcov-report/index.html"
  artifacts:
    untracked: false
    expire_in: 30 days
    when: always
    paths:
      - coverage/
    reports:
      junit: coverage/junit.xml

deploy_to_s3:
  stage: deploy
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  script:
    - aws --version
    - aws s3 rm s3://$S3_BUCKET --recursive
    - aws s3 cp build s3://$S3_BUCKET --recursive
