export DB_HOST=footprint-test.something.eu-west-2.rds.amazonaws.com
export RDSHOST=footprint-test.something.eu-west-2.rds.amazonaws.com
export AWS_DEFAULT_REGION=eu-west-2
export AWS_PROFILE=your_profile_if_not_default
export PGUSERNAME=db_user
export PGPASSWORD="$(aws rds generate-db-auth-token --hostname $RDSHOST --port 5432 --region $AWS_DEFAULT_REGION --username $PGUSERNAME --profile $AWS_PROFILE)"