name: build and deploy

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    environment: test

    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-node@v4.0.3

      - name: Build frontend
        run: |
          cd frontend
          sed "s|PLACEHOLDER|${{ vars.API_URL }}|g" ./src/api/url_template.json  > ./src/api/url.json
          npm install
          npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: frontend-test-build
          path: frontend/build/
      - name: Build backend
        run: |
          cd backend
          npm install
      - uses: actions/upload-artifact@v4
        with:
          name: backend-test-build
          path: backend/node_modules/
  test:
    name: test
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-node@v4.0.3
      - name: test frontend
        run: |
          cd frontend
          npm ci
          npm run test-ci
