name: build and deploy

on:
  push:
    branches:
      - main

  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ vars.AWS_REGION }}

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    environment: test

    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-node@v4.0.3

      - name: Build frontend
        run: |
          cd frontend
          sed "s|PLACEHOLDER|${{ vars.API_URL }}|g" ./src/api/url_template.json  > ./src/api/url.json
          npm install
          npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: frontend-test-build
          path: frontend/dist/
      # - name: Build backend
      #   run: |
      #     cd backend
      #     npm install
      # - uses: actions/upload-artifact@v4
      #   with:
      #     name: backend-test-build
      #     path: backend/dist
  unit-test:
    name: unit-test
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-node@v4.0.3
      - name: test frontend
        run: |
          cd frontend
          npm ci
          npm run test-ci
      - name: test backend
        run: |
          cd backend
          npm install
          npm run migration
          npm run test_once
  deploy-frontend-to-test:
    name: deploy-to-test
    needs: [build, unit-test]
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/download-artifact@v4
        with:
          name: frontend-test-build
          path: frontend/dist/
      - name: Deploy to test
        run: |
          ls -l
          ls -l frontend
          aws --version
          echo "Using terraform state in s3://${{ vars.S3_TEST_BUCKET }}"
          aws s3 sync frontend/dist s3://${{ vars.S3_TEST_BUCKET }} --exclude index.html
          aws s3 sync frontend/dist s3://${{ vars.S3_TEST_BUCKET }} --exclude "*" --include index.html --metadata-directive REPLACE --cache-control no-cache
  deploy-common-infrastructure:
    name: deploy-common-infrastructure
    runs-on: ubuntu-latest
    outputs:
      db-host: ${{ steps.db-host-details.outputs.DB_HOST }}
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: ./.github/actions/deploy_infrastructure
        with:
          environment: "common"
      - name: Save database details
        id: db-host-details
        run: |
          grep DB_HOST infrastructure/common/database.env >> "$GITHUB_OUTPUT"
          echo "DB_HOST=${DB_HOST}"
  deploy-test-infrastructure:
    name: deploy-test-infrastructure
    needs: deploy-common-infrastructure
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: ./.github/actions/deploy_infrastructure
        env:
          TF_VAR_db_host: ${{needs.deploy-common-infrastructure.outputs.db-host}}
        with:
          environment: "test"
      - uses: actions/upload-artifact@v4
        with:
          name: uploaded-lambda-zip
          path: infrastructure/api/apollo-server.zip
  e2e-test:
    name: e2e-test
    needs: [deploy-test-infrastructure, deploy-frontend-to-test]
    environment: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-node@v4.0.3
      - name: install testcafe
        env:
          NODE_ENV: test
        run: |
          npm install
          npx testcafe chrome:headless ./e2e_tests -e
